Repository SSAGESLabs/PySAGES, pull requests merged in 2021-12, with the labels that each got.

#68 Implement umbrella integration
  .github/workflows/docker-ci.yml
  examples/harmonic_bias/harmonic_bias.py
  examples/umbrella_integration/gen_gsd.py
  examples/umbrella_integration/integration.py
  pysages/methods/__init__.py
  pysages/methods/harmonic_bias.py
  pysages/methods/umbrella_integration.py
  pysages/methods/utils.py
Labels: enhancement, methods

#89 Setup sphinx to generate a documentation
  .gitignore
  .readthedocs.yaml
  docs/Makefile
  docs/assets/pysages.png
  docs/make.bat
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/module-pysages-methods-abf.rst
  docs/source/module-pysages-methods-ann.rst
  docs/source/module-pysages-methods-core.rst
  docs/source/module-pysages-methods-funn.rst
  docs/source/module-pysages-methods-harmonic_bias.rst
  docs/source/module-pysages-methods-umbrella.rst
  docs/source/module-pysages-methods-utils.rst
  docs/source/module-pysages-methods.rst
  docs/source/package-pysages.rst
  pysages/__init__.py
  pysages/methods/__init__.py
  pysages/methods/abf.py
  pysages/methods/core.py
  setup.cfg
Labels: documentation, docs

#90 Make ml compatible with jax's omistaging
  .github/workflows/ci.yml
  pysages/ml/objectives.py
  pysages/ml/utils.py
  tests/test_ml.py
Labels: tests, bugfix

#91 Document ABF
  .flake8
  .github/workflows/ci.yml
  .readthedocs.yaml
  docs/README.md
  docs/requirements.txt
  docs/source/conf.py
  docs/source/module-pysages-methods.rst
  pylintrc
  pysages/methods/__init__.py
  pysages/methods/abf.py
  pysages/methods/ann.py
  pysages/methods/harmonic_bias.py
  pysages/methods/utils.py
  pysages/utils.py
Labels: documentation, docs
