Repository SSAGESLabs/PySAGES, pull requests merged in 2021-11, with the labels that each got.

#78 Update snapshot before method updating
  Dockerfile
  pysages/backends/hoomd.py
Labels: hoomd-blue

#42 New nn API
  pysages/methods/core.py
  pysages/ml/__init__.py
  pysages/ml/models.py
  pysages/ml/objectives.py
  pysages/ml/optimizers.py
  pysages/ml/training.py
  pysages/ml/utils.py
  pysages/utils.py
Labels: enhancement, API

#70 Make harmonic bias correct for multi-dimensions
  pysages/methods/harmonic_bias.py
Labels: bug, methods, needs tests

#81 New hoomd backend
  README.md
  pysages/backends/hoomd.py
Labels: backends, API, hoomd-blue

#83 Manually switch off XLA/GPU memory preallocation
  pysages/__init__.py
Labels: bug
