Repository SSAGESLabs/PySAGES, pull requests merged in 2022-05, with the labels that each got.

#129 fix link in readme
  README.md
Labels: bug

#115 Make `run` a module method instead of a class one
  examples/hoomd-blue/Harmonic_Bias.ipynb
  examples/hoomd-blue/Harmonic_Bias.md
  examples/hoomd-blue/Umbrella_Integration.ipynb
  examples/hoomd-blue/Umbrella_Integration.md
  examples/hoomd-blue/harmonic_bias/harmonic_bias.py
  examples/hoomd-blue/metad/butane.py
  examples/hoomd-blue/umbrella_integration/integration.py
  examples/openmm/Harmonic_Bias.ipynb
  examples/openmm/Harmonic_Bias.md
  examples/openmm/abf/alanine-dipeptide_openmm.py
  examples/openmm/forward_flux_sampling.py
  examples/openmm/metad/Metadynamics-ADP.ipynb
  examples/openmm/metad/Metadynamics-ADP.md
  examples/openmm/metad/alanine-dipeptide.py
  pysages/__init__.py
  pysages/methods/core.py
  pysages/methods/ffs.py
  pysages/methods/umbrella_integration.py
Labels: methods, API

#135 Provide an `analyze` interface for post-run processing
  examples/hoomd-blue/Umbrella_Integration.ipynb
  examples/hoomd-blue/Umbrella_Integration.md
  examples/hoomd-blue/umbrella_integration/integration.py
  pysages/__init__.py
  pysages/methods/core.py
  pysages/methods/umbrella_integration.py
Labels: enhancement, methods, API
