Repository SSAGESLabs/PySAGES, pull requests merged in 2022-09, with the labels that each got.

#206 Ensure that the context manager is exited
  pysages/backends/hoomd.py
Labels: backends, hoomd-blue

#212 Fix NACL test with new FF URL
  examples/openmm/metad/nacl/Metadynamics_NaCl.ipynb
  examples/openmm/metad/nacl/Metadynamics_NaCl.md
  examples/openmm/metad/nacl/nacl-displacement.py
  examples/openmm/metad/nacl/nacl.py
Labels: bug

#199 Support jax-md as backend
  pysages/__init__.py
  pysages/backends/__init__.py
  pysages/backends/ase.py
  pysages/backends/core.py
  pysages/backends/hoomd.py
  pysages/backends/jax-md.py
  pysages/backends/openmm.py
  pysages/backends/snapshot.py
  pysages/methods/abf.py
  pysages/methods/ann.py
  pysages/methods/cff.py
  pysages/methods/ffs.py
  pysages/methods/funn.py
  pysages/methods/harmonic_bias.py
  pysages/methods/metad.py
  pysages/methods/spectral_abf.py
  pysages/methods/unbiased.py
Labels: needs tests

#216 Use numpy numpy arrays in results, instead of JAX.numpy arrays
  .flake8
  docs/source/pysages_wordlist.txt
  pysages/methods/abf.py
  pysages/methods/ann.py
  pysages/methods/cff.py
  pysages/methods/funn.py
  pysages/methods/metad.py
  pysages/methods/spectral_abf.py
  pysages/methods/spline_string.py
  pysages/methods/umbrella_integration.py
  pysages/methods/utils.py
Labels: methods
