Repository SSAGESLabs/PySAGES, pull requests merged in 2022-07, with the labels that each got.

#137 Support for ASE
  pysages/backends/ase.py
  pysages/backends/core.py
Labels: backends, needs tests

#152 Fix empty grid construction in Metadynamics
  .github/workflows/docker-ci.yml
  examples/openmm/metad/alanine-dipeptide.py
  pysages/grids.py
  pysages/methods/core.py
  pysages/methods/metad.py
Labels: methods

#149 Reimplement parallelization API
  .github/workflows/docker-ci.yml
  .gitignore
  examples/hoomd-blue/umbrella_integration/integration.py
  examples/hoomd-blue/umbrella_integration/slurm.sbatch
  examples/openmm/Harmonic_Bias.ipynb
  examples/openmm/Harmonic_Bias.md
  examples/openmm/umbrella_integration/adp-explicit.pdb
  examples/openmm/umbrella_integration/integration.py
  pylintrc
  pysages/__init__.py
  pysages/methods/__init__.py
  pysages/methods/core.py
  pysages/methods/metad.py
  pysages/methods/umbrella_integration.py
  pysages/methods/utils.py
  tests/test_pickle.py
Labels: methods, parallelization, API

#150 Make restore a sampler method
  pysages/backends/hoomd.py
  pysages/backends/openmm.py
  pysages/backends/snapshot.py
  pysages/methods/ffs.py
Labels: backends, API

#158 fix Butane ANN colab
  examples/hoomd-blue/Butane_ANN.ipynb
  examples/hoomd-blue/Butane_ANN.md
Labels: bug, google-colab

#154 Introduce restraints
  .github/workflows/docker-ci.yml
  docs/source/pysages_wordlist.txt
  examples/hoomd-blue/funn/butane.py
  pylintrc
  pysages/__init__.py
  pysages/methods/__init__.py
  pysages/methods/abf.py
  pysages/methods/ann.py
  pysages/methods/core.py
  pysages/methods/funn.py
  pysages/methods/metad.py
  pysages/methods/restraints.py
  tests/test_pickle.py
Labels: collective variables

#164 Allow unbiased simulation to collect CVs
  .github/workflows/docker-ci.yml
  examples/hoomd-blue/unbiased/.gitignore
  examples/hoomd-blue/unbiased/gen_gsd.py
  examples/hoomd-blue/unbiased/run.sh
  examples/hoomd-blue/unbiased/unbiased.py
  pysages/backends/ase.py
  pysages/backends/hoomd.py
  pysages/backends/openmm.py
  pysages/methods/__init__.py
  pysages/methods/unbiased.py
  tests/test_pickle.py
Labels: methods, collective variables

#145 Implement analyze for ABF
  docs/source/pysages_wordlist.txt
  examples/openmm/abf/alanine-dipeptide_openmm.py
  pysages/methods/abf.py
  pysages/ml/objectives.py
Labels: methods

#160 [Methods] Add CFF method
  .github/workflows/docker-ci.yml
  examples/hoomd-blue/cff/Butane_CFF.ipynb
  examples/hoomd-blue/cff/Butane_CFF.md
  examples/hoomd-blue/cff/butane.py
  pysages/methods/__init__.py
  pysages/methods/cff.py
  tests/test_pickle.py
Labels: methods

#165 Introduce the advanced sampling notebook into PySAGES
  docs/source/index.rst
  examples/Advanced_Sampling_Introduction.ipynb
  examples/Advanced_Sampling_Introduction.md
  examples/README.md
Labels: google-colab
